<div class="brand">

    <div class="brand-logo">
        {{'CONTAINER.COMMONS.TITLE_APP' | translate}}
    </div>

    <!-- toggle small sidebar menu -->
    <a href="javascript:;" class="toggle-sidebar hidden-xs hamburger-icon v3"
       data-ng-click="app.layout.isSmallSidebar = !app.layout.isSmallSidebar">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </a>
    <!-- /toggle small sidebar menu -->

</div>


<nav role="navigation" ng-show="rolMenu===1" side-navigation>
    <ul class="nav">
        <!--users-->
        <li data-ng-class="{open: $state.includes('app.users')}">
            <a ui-sref="app.users">
                <i class="fa fa-user"></i>
                <span>{{'CONTAINER.ADMIN.USERS'|translate}}</span>
            </a>
        </li>
        <!--/users-->
        <!--users-->
        <li data-ng-class="{open: $state.includes('app.roles')}">
            <a ui-sref="app.roles">
                <i class="fa fa-users"></i>
                <span>{{'CONTAINER.ADMIN.ROLES'|translate}}</span>
            </a>
        </li>
        <!--/users-->

        <!--Informacion general-->
        <li data-ng-class="{open: $state.includes('app.general')}">
            <a href="javascript:;">
                <i class="fa fa-tasks"></i>
                <span>{{'CONTAINER.COMMONS.TITLE_GENERAL'|translate}}</span>
            </a>
            <ul class="sub-menu">
                <li ui-sref-active="active">
                    <a ui-sref="app.general.provincias">
                        <span>{{'CONTAINER.COMMONS.TITLE_PROVINCIAS'|translate}}</span>
                    </a>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="app.general.cantones">
                        <span>{{'CONTAINER.COMMONS.TITLE_CANTONES'|translate}}</span>
                    </a>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="app.general.parroquias">
                        <span>{{'CONTAINER.COMMONS.TITLE_PARROQUIAS'|translate}}</span>
                    </a>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="app.general.zonas">
                        <span>{{'CONTAINER.COMMONS.TITLE_ZONA'|translate}}</span>
                    </a>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="app.general.recintos">
                        <span>{{'CONTAINER.COMMONS.TITLE_RECINTO'|translate}}</span>
                    </a>
                </li>
            </ul>
        </li>
        <!--end Informacion General-->
        <!--Listas-->
        <li data-ng-class="{open: $state.includes('app.listas')}">
            <a ui-sref="app.listas">
                <i class="fa fa-list"></i>
                <span>{{'CONTAINER.COMMONS.TITLE_LISTA'|translate}}</span>
            </a>
        </li>
        <!--end Listas-->

        <!-- resultados -->
        <li data-ng-class="{open: $state.includes('app.resultados')}">
            <a ui-sref="javascript:;">
                <i class="fa fa-tag"></i>
                <span>{{'CONTAINER.VOTO.TITLE_RESULTADOS'|translate}}</span>
            </a>
            <ul class="sub-menu">
                <li ui-sref-active="active">
                    <a ui-sref="app.resultados.general">
                        <span>{{'CONTAINER.COMMONS.TITLE_GENERAL'|translate}}</span>
                    </a>
                </li>
            </ul>
            <ul class="sub-menu">
                <li ui-sref-active="active">
                    <a ui-sref="app.resultados.otros">
                        <span>{{'CONTAINER.COMMONS.TITLE_OTROS'|translate}}</span>
                    </a>
                </li>
            </ul>
        </li>
        <!-- /resultados -->

        <!-- administracion general -->
        <li data-ng-class="{open: $state.includes('app.administracion')}">
            <a ui-sref="javascript:;">
                <i class="fa fa-tasks"></i>
                <span>{{'CONTAINER.COMMONS.TITLE_ADMINISTRATION'|translate}}</span>
            </a>
            <ul class="sub-menu">
                <li ui-sref-active="active">
                    <a ui-sref="app.administracion.edicion">
                        <span>{{'CONTAINER.COMMONS.TITLE_EDIT_VOTO'|translate}}</span>
                    </a>
                </li>
            </ul>
        </li>
        <!-- /administracion general -->
    </ul>
</nav>
<!-- main navigation -->

<nav role="navigation" ng-show="rolMenu===2" side-navigation>
    <ul class="nav">
        <!-- resultados -->
        <li data-ng-class="{open: $state.includes('app.resultados')}">
            <a ui-sref="javascript:;">
                <i class="fa fa-tag"></i>
                <span>{{'CONTAINER.VOTO.TITLE_RESULTADOS'|translate}}</span>
            </a>
            <ul class="sub-menu">
                <li ui-sref-active="active">
                    <a ui-sref="app.resultados.general">
                        <span>{{'CONTAINER.COMMONS.TITLE_GENERAL'|translate}}</span>
                    </a>
                </li>
            </ul>
            <ul class="sub-menu">
                <li ui-sref-active="active">
                    <a ui-sref="app.resultados.otros">
                        <span>{{'CONTAINER.COMMONS.TITLE_OTROS'|translate}}</span>
                    </a>
                </li>
            </ul>
        </li>
        <!-- /resultados -->


        <!-- asignacion de juntas -->
        <li data-ng-class="{open: $state.includes('app.asignacionJuntas')}">
            <a ui-sref="app.asignacionJuntas">
                <i class="fa fa-tag"></i>
                <span>{{'CONTAINER.COMMONS.TITLE_ASIGNACION_JUNTAS'|translate}}</span>
            </a>
        </li>
        <!-- /asignacion de juntas -->
    </ul>
</nav>
<!-- main navigation -->

<nav role="navigation" ng-show="rolMenu===3" side-navigation>
    <ul class="nav">

        <!-- resultados -->
        <li data-ng-class="{open: $state.includes('app.resultados')}">
            <a ui-sref="javascript:;">
                <i class="fa fa-tag"></i>
                <span>{{'CONTAINER.VOTO.TITLE_RESULTADOS'|translate}}</span>
            </a>
            <ul class="sub-menu">
                <li ui-sref-active="active">
                    <a ui-sref="app.resultados.general">
                        <span>{{'CONTAINER.COMMONS.TITLE_GENERAL'|translate}}</span>
                    </a>
                </li>
            </ul>
            <ul class="sub-menu">
                <li ui-sref-active="active">
                    <a ui-sref="app.resultados.otros">
                        <span>{{'CONTAINER.COMMONS.TITLE_OTROS'|translate}}</span>
                    </a>
                </li>
            </ul>
        </li>
        <!-- /resultados -->

        <!-- registro de votos -->
        <li data-ng-class="{open: $state.includes('app.registroVotos')}">
            <a ui-sref="app.registroVotos">
                <i class="fa fa-tag"></i>
                <span>{{'CONTAINER.COMMONS.TITLE_REGISTRO_VOTO'|translate}}</span>
            </a>
        </li>
        <!-- /registro de votos -->
    </ul>
</nav>
<!-- main navigation -->
