<div class="brand">

    <!-- logo -->
    <div class="brand-logo">
        {{'CONTAINER.COMMONS.TITLE_APP' | translate}}
    </div>
    <!-- /logo -->

    <!-- toggle small sidebar menu -->
    <a href="javascript;" class="toggle-sidebar hidden-xs hamburger-icon v3"
       data-ng-click="app.layout.isSmallSidebar = !app.layout.isSmallSidebar">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </a>
    <!-- /toggle small sidebar menu -->

</div>

<nav role="navigation" side-navigation>
    <div ng-if="rolMenu===1">
        <div data-ng-include="'views/common/rol/admin.html'"></div>
    </div>
    <div ng-if="rolMenu===2">
        <div data-ng-include="'views/common/rol/coordinator.html'"></div>
    </div>
    <div ng-if="rolMenu===3">
        <div data-ng-include="'views/common/rol/user.html'"></div>
    </div>
</nav>
