<div class="brand">

    <div class="brand-logo">
        {{'CONTAINER.COMMONS.TITLE_APP' | translate}}
    </div>

    <!-- toggle small sidebar menu -->
    <a href="javascript:;" class="toggle-sidebar hidden-xs hamburger-icon v3"
       data-ng-click="app.layout.isSmallSidebar = !app.layout.isSmallSidebar">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </a>
    <!-- /toggle small sidebar menu -->

</div>


<nav role="navigation" ng-show="rolMenu===1" side-navigation>
    <ul class="nav">
        <!--users-->
        <li data-ng-class="{open: $state.includes('app.users')}">
            <a ui-sref="app.users">
                <i class="fa fa-user"></i>
                <span>{{'CONTAINER.ADMIN.USERS'|translate}}</span>
            </a>
        </li>
        <!--/users-->
        <!--users-->
        <li data-ng-class="{open: $state.includes('app.roles')}">
            <a ui-sref="app.roles">
                <i class="fa fa-users"></i>
                <span>{{'CONTAINER.ADMIN.ROLES'|translate}}</span>
            </a>
        </li>
        <!--/users-->

        <!--Informacion general-->
        <li data-ng-class="{open: $state.includes('app.general')}">
            <a href="javascript:;">
                <i class="fa fa-tasks"></i>
                <span>{{'CONTAINER.COMMONS.TITLE_GENERAL'|translate}}</span>
            </a>
            <ul class="sub-menu">
                <li ui-sref-active="active">
                    <a ui-sref="app.general.provincias">
                        <span>{{'CONTAINER.COMMONS.TITLE_PROVINCIAS'|translate}}</span>
                    </a>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="app.general.cantones">
                        <span>{{'CONTAINER.COMMONS.TITLE_CANTONES'|translate}}</span>
                    </a>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="app.general.parroquias">
                        <span>{{'CONTAINER.COMMONS.TITLE_PARROQUIAS'|translate}}</span>
                    </a>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="app.general.zonas">
                        <span>{{'CONTAINER.COMMONS.TITLE_ZONA'|translate}}</span>
                    </a>
                </li>
            </ul>
        </li>
        <!--end Informacion General-->

        <!-- ui -->
        <li data-ng-class="{open: $state.includes('app.ui')}">
            <a href="javascript:;">
                <i class="fa fa-toggle-on"></i>
                <span>Registro de votos</span>
            </a>
            <ul class="sub-menu">
                <li ui-sref-active="active">
                    <a href="/#/ui/registro">
                        <span>General</span>
                    </a>
                </li>
            </ul>
        </li>
        <!-- /ui -->

        <!-- tables -->
        <li data-ng-class="{open: $state.includes('app.resultados')}">
            <a ui-sref="app.resultados">
                <i class="fa fa-tag"></i>
                <span>Resultados</span>
            </a>
        </li>
        <!-- /tables -->

        <!-- charts -->
        <li data-ng-class="{open: $state.includes('app.charts')}">
            <a href="javascript:;">
                <i class="fa fa-pie-chart"></i>
                <span>Reportes</span>
            </a>
            <ul class="sub-menu">
                <li ui-sref-active="active">
                    <a ui-sref="app.charts.flot">
                        <span>Flot Charts</span>
                    </a>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="app.charts.easypie">
                        <span>EasyPie</span>
                    </a>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="app.charts.chartjs">
                        <span>ChartJs</span>
                    </a>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="app.charts.rickshaw">
                        <span>Rickshaw</span>
                    </a>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="app.charts.nvd3">
                        <span>Nvd3</span>
                    </a>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="app.charts.c3">
                        <span>C3js</span>
                    </a>
                </li>
            </ul>
        </li>
        <!-- /charts -->
    </ul>
</nav>
<!-- main navigation -->

