<form id="registroVotosForm" novalidate>
    <div id="junta" class="group-simple">
        <div class="panel panel-info">
            <div class="panel-body">
                <div class="form-horizontal">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group" style="margin-top: 5px">
                                <label for="user"
                                       class="col-md-2 col-xs-12"><b>{{'CONTAINER.JUNTA.TITLE_JUNTA'|translate}}</b></label>

                                <div class="col-md-8 col-xs-12">
                                    <select id="user" class="form-control"
                                            ng-model="selectedJunta" ng-change="changeJunta(selectedJunta)"
                                            ng-options="option as option.junta + option.gender +'-'+option.recinto.name for option in juntasByUserAsignado"
                                            required>
                                    </select>
                                </div>
                                <div class="col-md-2 col-xs-12">
                                    <div class="form-group cb-spacer">
                                        <label class="control-label">&nbsp;</label>
                                        <span class="cb-control"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="juntaVotos" class="group-simple">
            <div class="panel panel-default">
                <div class="panel-heading"><p ng-show="selectedJunta!==null"><strong> {{juntaInformation.recinto.name}}
                    ,
                    {{'CONTAINER.JUNTA.TITLE_JUNTA'|translate}} {{juntaInformation.junta}} {{genero}} ,
                    {{'CONTAINER.JUNTA.NUMERO_JUNTA'|translate}}
                    {{juntaInformation.empadronados}}
                </strong></p></div>
                <div class="panel-body">
                    <div class="form-vertical">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="bs-component form-group">
                                    <div class="table-responsive">
                                        <table class="table">
                                            <thead>
                                            <tr>
                                                <th>{{'CONTAINER.LISTA.TITLE_LISTA'|translate}}</th>
                                                <th>{{'CONTAINER.VOTO.TITLE_VOTOS'|translate}}</th>
                                                <th></th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr ng-repeat="lista in listas">
                                                <td align="center">{{lista.CODE_LISTA}} {{lista.NOM_LISTA}}</td>
                                                <td align="center">
                                                    <input class="kendo-numeric" kendo-numeric-text-box k-min="0"
                                                           k-max="juntaInformation.empadronados"
                                                           k-on-change="ctrl.sum(lista.votos,lista)"
                                                           k-format="'n0'"
                                                           required
                                                           ng-disabled="(selectedJunta===null || estaVotoRegistrado)?true:false"
                                                           k-ng-model="lista.votos"/>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td align="center">{{'CONTAINER.VOTO.TITLE_BLANCOS'|translate}}</td>
                                                <td align="center"><input class="kendo-numeric" kendo-numeric-text-box
                                                                          k-min="0"
                                                                          k-max="juntaInformation.empadronados"
                                                                          k-format="'n0'"
                                                                          k-on-change="ctrl.sum(votosBlancos,'votosBlancos')"
                                                                          ng-disabled="(selectedJunta===null || estaVotoRegistrado)?true:false"
                                                                          k-ng-model="votosBlancos"/></td>
                                            </tr>
                                            <tr>
                                                <td align="center">{{'CONTAINER.VOTO.TITLE_NULOS'|translate}}</td>
                                                <td align="center"><input id="nulosKendoNumeric" class="kendo-numeric"
                                                                          kendo-numeric-text-box
                                                                          k-min="0"
                                                                          k-max="juntaInformation.empadronados"
                                                                          k-format="'n0'"
                                                                          k-on-change="ctrl.sum(votosNulos,'votosNulos')"
                                                                          ng-disabled="(selectedJunta===null || estaVotoRegistrado)?true:false"
                                                                          k-ng-model="votosNulos"/></td>
                                            </tr>
                                            <tr>
                                                <td align="center">{{'CONTAINER.VOTO.TITLE_TOTAL'|translate}}</td>
                                                <td align="center"><label>{{totalVotos}}</label></td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="group-simple">
            <div class="form-vertical">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="form-group">
                            <div class="col-xs-4">
                                <div class="form-group cb-spacer">
                                    <label class="control-label">&nbsp;</label>
                                    <span class="cb-control"></span>
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <div class="form-group">
                                    <label for="junta"
                                           class="control-label">&nbsp</label>

                                    <div class="">
                                        <button class="btn btn-primary btn-block" type="submit"
                                                data-ng-click="ctrl.saveModalVoto()"
                                                ng-disabled="(totalVotos <= juntaInformation.empadronados) && totalVotos >0 && !estaVotoRegistrado?false:true">
                                            {{'CONTAINER.VOTO.BTN_SAVE_VOTO'|translate}}
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <div class="form-group cb-spacer">
                                    <label class="control-label">&nbsp;</label>
                                    <span class="cb-control"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<div class="modal fade" id="modalTotalVotosPermitidos" data-backdrop="static">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <form name="votosPermitidos">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="false"
                            ng-click="clear()">&times;</button>
                    <h4 class="modal-title">{{'CONTAINER.COMMONS.TITLE_ERROR'|translate}}</h4>
                </div>
                <div class="modal-body">
                    <b><p align="center" translate translate-values="{votos : '{{juntaInformation.empadronados}}'}">
                        {{'CONTAINER.VOTO.MESSAGE_VOTOS_PERMITIDOS'}}
                    </p></b>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                        <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal fade" id="saveVotos" data-backdrop="static">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <form name="formVotos">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="false"
                            ng-click="clear()">&times;</button>
                    <h4 class="modal-title">{{'CONTAINER.VOTO.TITLE_VOTOS'|translate}}</h4>
                </div>
                <div class="modal-body">
                    <b><p align="center" translate translate-values="{votos : '{{juntaInformation.empadronados}}'}">
                        {{'CONTAINER.VOTO.MESSAGE_SAVE_VOTO'}}
                    </p></b>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                        {{'CONTAINER.COMMONS.TITLE_NO'|translate}}
                    </button>
                    <button type="submit" class="btn btn-primary" data-ng-click="saveVoto()">
                        {{'CONTAINER.COMMONS.TITLE_SI'|translate}}
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>