<div class="center-wrapper">
    <div class="center-content">
        <div class="row no-margin">
            <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
                <form role="form" class="form-layout" ng-init="init()">
                    <div class="text-title mb15">
                        <h2>
                            {{'CONTAINER.COMMONS.TITLE_APP' | translate}}
                        </h2>
                    </div>

                    <p class="text-title mb30">{{'CONTAINER.SECURITY.LBL_LOGIN_WELCOME' |
                        translate}}{{'CONTAINER.SECURITY.LBL_LOGIN_INFO' | translate}}</p>

                    <div class="form-group">
                        <label class="text-title">{{'CONTAINER.COMMONS.TITLE_ROL'|translate}}</label>
                        <select class="form-control input-lg" ng-model="selectRol" ng-change="loadRol(selectRol)"
                                ng-options="r.ur_rol.ro_rol as r.ur_rol.ro_description for r in roles | orderBy:'r.ur_rol.ro_description'"
                                ng-required="true"></select>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-success btn-block btn-lg mb15" type="submit" data-ng-click="loadPage()">
                            <span>{{'CONTAINER.SECURITY.LBL_SING' | translate}}</span>
                        </button>
                    </div>
                    <div class="form-group" align="center">
                        <a class="text-title mb15" href="/signout">{{'CONTAINER.SECURITY.LBL_SWITCH_USER'
                            |translate}}</a>
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>