<div class="center-wrapper">
    <div class="center-content">
        <div class="row no-margin">
            <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
                <form role="form" class="form-layout" action="/signin" method="post">
                    <div class="text-center mb15">
                        <h2>
                            {{'CONTAINER.COMMONS.TITLE_APP' | translate}}
                        </h2>
                    </div>

                    <p class="text-center mb30">{{'CONTAINER.SECURITY.LBL_LOGIN_WELCOME' |
                        translate}}{{'CONTAINER.SECURITY.LBL_LOGIN_INFO' | translate}}</p>

                    <div class="form-inputs">
                        <input type="text" name="username" class="form-control input-lg"
                               placeholder="{{'CONTAINER.SECURITY.LBL_LOGIN_USER' | translate}}"
                               data-required-msg="ingrese" required>
                        <input type="password" name="password" class="form-control input-lg"
                               placeholder="{{'CONTAINER.SECURITY.LBL_LOGIN_PASSWORD' | translate}}"
                               required>
                    </div>

                    <button class="btn btn-success btn-block btn-lg mb15" type="submit">
                        <span>{{'CONTAINER.SECURITY.LBL_LOGIN_SESSION' | translate}}</span>
                    </button>
                </form>
            </div>
        </div>

    </div>
</div>