<div id="juntasRecintos">
    <div class="form-vertical">
        <div class="row">
            <div class="col-xs-12">
                <div class="form-group">
                    <h3 translate translate-values="{name : '{{ctrl.recinto.name}}'}">
                        {{'CONTAINER.JUNTA.TITLE_JUNTAS_RECINTO'}}</h3>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="juntas" class="group-simple">
    <div class="form-vertical">
        <div class="row">
            <div class="col-xs-6">
                <div class="form-group">
                    <label for="junta"
                           class="control-label">{{'CONTAINER.JUNTA.TITULO_JUNTA'|translate}}</label>

                    <div class="cb-control">
                        <input id="junta" placeholder="{{'CONTAINER.JUNTA.TITULO_JUNTA'|translate}}"
                               data-ng-model="ctrl.junta"
                               class="form-control"/>
                    </div>
                </div>
            </div>
            <div class="col-xs-6">
                <div class="form-group">
                    <label class="control-label">&nbsp;</label>

                    <div class="cb-control">
                        <button class="form-control btn btn-primary"
                                data-ng-click="ctrl.refresh()">
                            {{'CONTAINER.COMMONS.BTN_SEARCH'|translate}}
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="gridJuntas" class="form-grid">
    <div class="form-vertical">
        <div class="row">
            <div class="col-xs-12">
                <div class="bs-component form-group">
                    <div class="table-responsive">
                        <table class="table table-hover table-bordered">
                            <thead>
                            <tr>
                                <td colspan='7'>
                                    <button type="submit" title="{{'CONTAINER.COMMONS.BTN_NEW'|translate}}"
                                            ng-click="ctrl.showModal()"
                                            class="btn btn-primary btn-sm">
                                        <span class="glyphicon glyphicon-plus-sign"></span>
                                        {{'CONTAINER.COMMONS.BTN_NEW'|translate}}
                                    </button>
                                </td>
                            </tr>
                            <tr>
                                <th>{{'CONTAINER.JUNTA.TITULO_JUNTA'|translate}}</th>
                                <th>{{'CONTAINER.JUNTA.TITLE_GENERO'|translate}}</th>
                                <th>{{'CONTAINER.JUNTA.TITLE_EMPADRONADOS'|translate}}</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr dir-paginate="registro in ctrl.registros | itemsPerPage:ctrl.itemsPerPage"
                                total-items="ctrl.total_count">
                                <td>{{registro.junta}}</td>
                                <td>{{registro.gender}}</td>
                                <td>{{registro.empadronados}}</td>
                                <td>
                                    <button type="button" title="{{'CONTAINER.COMMONS.BTN_EDIT'|translate}}"
                                            ng-click="ctrl.showModal(registro)"
                                            class="btn btn-primary btn-sm">
                                        <span class="glyphicon glyphicon-pencil"></span>
                                    </button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <dir-pagination-controls
                            max-size="8"
                            direction-links="true"
                            boundary-links="true"
                            on-page-change="ctrl.loadData(newPageNumber)">
                    </dir-pagination-controls>
                </div>
            </div>
        </div>
    </div>
</div>

