<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" ng-click="clear()">&times;</button>
    <h4 class="modal-title"><b>{{'CONTAINER.PROVINCIA.CREATE_PROVINCIA'|translate}}</b></h4>
</div>
<div class="modal-body">
    <form name="provinciaForm" novalidate>
        <div id="group-provincia" class="group-simple">
            <div class="form-vertical">
                <div class="row">
                    <div class="col-xs-12"
                         ng-class="{ 'has-error' : provinciaForm.codigo.$invalid && !provinciaForm.codigo.$pristine }">
                        <div class="form-group cb-required">
                            <label for="idCode"
                                   class="control-label">{{'CONTAINER.PROVINCIA.TITLE_CODE'|translate}}</label>

                            <div class="cb-control">
                                <input id="idCode" type="text" name="codigo" class="form-control"
                                       ng-model="provincia.code"
                                       ng-pattern="/^[0-9]*$/"
                                       required>
                            <span ng-show="provinciaForm.codigo.$invalid && !provinciaForm.codigo.$pristine"
                                  class="k-widget k-tooltip k-tooltip-validation k-invalid-msg">
                                {{'CONTAINER.PROVINCIA.MESSAGE_REQUIRED'|translate}}
                            </span>
                            <span ng-show="provinciaForm.codigo.$error.pattern"
                                  class="k-widget k-tooltip k-tooltip-validation k-invalid-msg">
                                {{'CONTAINER.MESSAGES.MESSAGE_ONLY_NUMBERS'|translate}}
                            </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12"
                         ng-class="{ 'has-error' : provinciaForm.provincia.$invalid && !provinciaForm.provincia.$pristine }">
                        <div class="form-group cb-required">
                            <label for="nombreProvincia"
                                   class="control-label">{{'CONTAINER.PROVINCIA.TITLE_PROVINCIA'|translate}}</label>

                            <div class="cb-control">
                                <input id="nombreProvincia" type="text" name="provincia" class="form-control"
                                       ng-model="provincia.name"
                                       required>
                            <span ng-show="provinciaForm.provincia.$invalid && !provinciaForm.provincia.$pristine"
                                  class="k-widget k-tooltip k-tooltip-validation k-invalid-msg">
                                {{'CONTAINER.PROVINCIA.MESSAGE_PROVINCIA_REQUIRED'|translate}}
                            </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="submit" data-ng-click="save()" ng-disabled="provinciaForm.$invalid">
        {{'CONTAINER.COMMONS.BTN_SAVE'|translate}}
    </button>
    <button class="btn btn-default" type="button" data-dismiss="modal" ng-click="clear()">
        {{'CONTAINER.COMMONS.BTN_CANCEL'|translate}}
    </button>
</div>
