<!-- main navigation -->
<nav role="navigation" side-navigation>

    <ul class="nav">

        <!-- ui -->
        <li data-ng-class="{open: $state.includes('app.ui')}">
            <a href="javascript:;">
                <i class="fa fa-toggle-on"></i>
                <span>Registro de votos</span>
            </a>
            <ul class="sub-menu">
                <li ui-sref-active="active">
                    <a href="/#/ui/registro">
                        <span>General</span>
                    </a>
                </li>
            </ul>
        </li>
        <!-- /ui -->

        <!-- tables -->
        <li data-ng-class="{open: $state.includes('app.resultados')}">
            <a href="#/resultados">

                <i class="fa fa-tag"></i>
                <span>Resultados</span>
            </a>
        </li>
        <!-- /tables -->
    </ul>
    <!-- /charts -->

</nav>
<!-- /main navigation -->s