<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" ng-click="ctrl.closeModal()">&times;</button>
    <h4 class="modal-title"><b>{{'CONTAINER.USER_MODEL.CREATED_USER'|translate}}</b></h4>
</div>
<div class="modal-body">
    <form name="userForm" novalidate>
        <div id="group-user" class="group-simple">
            <div class="form-vertical">
                <div class="row">
                    <div class="col-xs-6">
                        <div class="form-group cb-required">
                            <label for="idNombres"
                                   class="control-label">{{'CONTAINER.USER_MODEL.FIRST_NAME'|translate}}</label>

                            <div class="cb-control"
                                 ng-class="{ 'has-error' : userForm.nombres.$invalid && !userForm.nombres.$pristine }">
                                <input id="idNombres" type="text" name="nombres" class="form-control" ng-model="nombres"
                                       required>
                            <span ng-show="userForm.nombres.$invalid && !userForm.nombres.$pristine"
                                  class="k-widget k-tooltip k-tooltip-validation k-invalid-msg">
                            <span class="k-icon k-warning"></span>
                                {{'CONTAINER.MESSAGES.MESSAGE_REQUIRED_NAMES'|translate}}
                            </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6"
                         ng-class="{ 'has-error' : userForm.apellidos.$invalid && !userForm.apellidos.$pristine }">
                        <div class="form-group cb-required">
                            <label for="idApellido"
                                   class="control-label">{{'CONTAINER.USER_MODEL.LAST_NAME'|translate}}</label>

                            <div class="cb-control">
                                <input id="idApellido" type="text" name="apellidos"
                                       class="form-control"
                                       ng-model="apellidos" required>
                                                        <span ng-show="userForm.apellidos.$invalid && !userForm.apellidos.$pristine"
                                                              class="k-widget k-tooltip k-tooltip-validation k-invalid-msg">
                            <span class="k-icon k-warning"></span>
                                {{'CONTAINER.MESSAGES.MESSAGE_REQUIRED_LASTNAME'|translate}}
                            </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6"
                         ng-class="{ 'has-error' : userForm.cedula.$invalid && !userForm.cedula.$pristine }">
                        <div class="form-group cb-required">
                            <label for="idCedula"
                                   class="control-label">{{'CONTAINER.USER_MODEL.DOCUMENT'|translate}}</label>

                            <div class="cb-control">
                                <input id="idCedula" type="text" name="cedula" maxlength="10" ng-minlength="10"
                                       class="form-control"
                                       ng-model="cedula" ng-pattern="/^[0-9]*$/" required>
                                                        <span ng-show="userForm.cedula.$invalid && !userForm.cedula.$pristine"
                                                              class="k-widget k-tooltip k-tooltip-validation k-invalid-msg">
                            <span class="k-icon k-warning"></span>
                                {{'CONTAINER.MESSAGES.MEESSAGE_DOCUMENT'|translate}}
                            </span>
                                 <span ng-show="userForm.cedula.$error.pattern"
                                       class="k-widget k-tooltip k-tooltip-validation k-invalid-msg">
                            <span class="k-icon k-warning"></span>
                                {{'CONTAINER.MESSAGES.MESSAGE_ONLY_NUMBERS'|translate}}
                            </span>
                                </span>
                                 <span ng-show="userForm.cedula.$error.minlength"
                                       class="k-widget k-tooltip k-tooltip-validation k-invalid-msg">
                            <span class="k-icon k-warning"></span>
                                {{'CONTAINER.MESSAGES.MESSAGE_MIN_DOCUMENT'|translate}}
                            </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6"
                         ng-class="{ 'has-error' : userForm.email.$invalid && !userForm.email.$pristine }">
                        <div class="form-group">
                            <label for="idEmail"
                                   class="control-label">{{'CONTAINER.USER_MODEL.EMAIL'|translate}}</label>

                            <div class="cb-control">
                                <input id="idEmail" type="email" name="email"
                                       class="form-control"
                                       ng-model="email">
                                                        <span ng-show="userForm.email.$invalid && !userForm.email.$pristine"
                                                              class="k-widget k-tooltip k-tooltip-validation k-invalid-msg">
                            <span class="k-icon k-warning"></span>
                                {{'CONTAINER.MESSAGES.MESSAGE_VALID_EMAIL'|translate}}
                            </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="submit" data-ng-click="create()" ng-disabled="userForm.$invalid">
        {{'CONTAINER.COMMONS.BTN_SAVE'|translate}}
    </button>
    <button class="btn btn-default" type="button" data-dismiss="modal" ng-click="ctrl.closeModal()">
        {{'CONTAINER.COMMONS.BTN_CANCEL'|translate}}
    </button>
</div>
