<div class="container">
    <div id="userAdmin" class="group-simple">
        <div class="form-vertical">
            <div class="row">
                <div class="col-xs-6">
                    <div class="form-group">
                        <label for="idCedula"
                               class="control-label">{{'CONTAINER.USER_MODEL.DOCUMENT'|translate}}</label>

                        <div class="cb-control">
                            <input id="idCedula" placeholder="{{'CONTAINER.USER_MODEL.DOCUMENT'|translate}}"
                                   data-ng-model="ctrl.userCedula" maxlength="10"
                                   class="form-control"/>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="form-group">
                        <label class="control-label">&nbsp;</label>

                        <div class="cb-control">
                            <button class="form-control btn btn-primary"
                                    data-ng-click="ctrl.getUserByCedula(ctrl.userCedula)">
                                {{'CONTAINER.COMMONS.BTN_SEARCH'|translate}}
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="gridUser" class="form-grid">
        <div class="form-vertical">
            <div class="row">
                <div class="col-xs-12">
                    <div class="bs-component form-group">
                        <div class="table-responsive">
                            <table class="table table-hover table-bordered">
                                <thead>
                                <tr>
                                    <td colspan='7'>
                                        <button type="submit" title="{{'CONTAINER.COMMONS.BTN_NEW'|translate}}"
                                                ng-click="ctrl.showModal()"
                                                class="btn btn-primary btn-sm">
                                            <span class="glyphicon glyphicon-plus-sign"></span>
                                            {{'CONTAINER.COMMONS.BTN_NEW'|translate}}
                                        </button>
                                    </td>
                                </tr>
                                <tr>
                                    <th>{{'CONTAINER.USER_MODEL.FIRST_NAME'|translate}}</th>
                                    <th>{{'CONTAINER.USER_MODEL.LAST_NAME'|translate}}</th>
                                    <th>{{'CONTAINER.USER_MODEL.EMAIL'|translate}}</th>
                                    <th>{{'CONTAINER.USER_MODEL.DOCUMENT'|translate}}</th>
                                    <th>{{'CONTAINER.USER_MODEL.STATUS'|translate}}</th>
                                    <th>{{'CONTAINER.USER_MODEL.CREATED'|translate}}</th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr data-ng-repeat="user in users">
                                    <td>{{user.firstName}}</td>
                                    <td>{{user.lastName}}</td>
                                    <td>{{user.email}}</td>
                                    <td>{{user.document}}</td>
                                    <td>{{user.status}}</td>
                                    <td>{{user.created | date:'medium'}}</td>
                                    <td>
                                        <button type="submit" title="{{'CONTAINER.COMMONS.BTN_EDIT'|translate}}"
                                                ng-click="ctrl.showModal(user._id)"
                                                class="btn btn-primary btn-sm">
                                            <span class="glyphicon glyphicon-pencil"></span>
                                        </button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <uib-pagination id="pagination" boundary-links="true" total-items="ctrl.total_count"
                                            ng-model="ctrl.currentPage"
                                            ng-change="ctrl.getUsers(ctrl.currentPage)"
                                            class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;"
                                            first-text="&laquo;" last-text="&raquo;"></uib-pagination>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
